*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-nav{
    display: flex;
    background-color: rgb(73, 91, 103);
    height: 60px;
    text-align: center;
    flex-wrap: wrap;


}
.main-links .link li{
    float: right;
    list-style-type: none;

}
.main-links .link{
 text-decoration: none;
}
.main-nav div{
    flex-grow: 1;
    text-align: center;
    margin-top: 20px;
}

.main-links .link li a{
    padding: 5px;
    margin: 10px 20px;
    color: aquamarine;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.icon{
    display: none;
}


@media only screen and (max-width: 780px){
 .main-links .link li a{
    display: none;
 }
 .icon{
    display: block;
    float: right;
 }
 .input{
    display: none;
 }
}